<footer class="container my-5 border-top py-5">
    <div class="row">
        <div class="col-6 col-md">
            <img alt
                 class="mb-3"
                 height="24"
                 src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Bootstrap_logo.svg/1280px-Bootstrap_logo.svg.png"
                 width="30" />
            <small class="d-block">© 2017-2018</small>
        </div>
        <div class="col-6 col-md ">
            <h5>Featured</h5>
            <ul class="list-unstyled text-small">
                <li class="text-muted">Cool stuff</li>
                <li class="text-muted">Random feature</li>
                <li class="text-muted">Team feature</li>
                <li class="text-muted">Stuff for developers</li>
                <li class="text-muted">Another one</li>
                <li class="text-muted">Last time</li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
                <li class="text-muted">Cool stuff</li>
                <li class="text-muted">Random feature</li>
                <li class="text-muted">Team feature</li>
                <li class="text-muted">Stuff for developers</li>
                <li class="text-muted">Another one</li>
                <li class="text-muted">Last time</li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
                <li class="text-muted">Cool stuff</li>
                <li class="text-muted">Random feature</li>
                <li class="text-muted">Team feature</li>
                <li class="text-muted">Stuff for developers</li>
                <li class="text-muted">Another one</li>
                <li class="text-muted">Last time</li>
            </ul>
        </div>
    </div>
</footer>
